name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: clippy, rustfmt
      - name: Check format
        run: cargo fmt --all -- --check
      - name: Check with clippy
        run: cargo clippy --all
      - name: Build without features
        run: cargo build --no-default-features
      - name: Build
        run: cargo build --all --verbose
      - name: Run tests
        run: cargo test --all --verbose

      # examples
      - name: Check examples format
        run: cargo fmt --all -- --check
        working-directory: ./examples
      - name: Check examples with clippy
        run: cargo clippy --all
        working-directory: ./examples
      - name: Build
        run: cargo build --all --verbose
        working-directory: ./examples

      # build on nightly
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: clippy, rustfmt
      - name: Build on nightly without features
        run: cargo build --no-default-features
      - name: Build on nightly
        run: cargo build --all --verbose
