name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Run tests - Rust (${{ matrix.rust }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: stable, os: ubuntu-22.04 }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt
      - name: Extract metadata
        id: meta
        run: |
          FEATURES=$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[] | select(.name == "async-graphql") | .features | keys | map(select(. != "boxed-trait")) | join(",")')
          echo "features=$FEATURES" >> "$GITHUB_OUTPUT"
      - name: Build with all features
        run: cargo build --all-features
      - name: Build with all features except boxed-trait
        run: cargo build --features ${{ steps.meta.outputs.features }}
      - name: Build
        run: cargo build --workspace --verbose
      - name: Run tests
        run: cargo test --workspace --features ${{ steps.meta.outputs.features }}
      - name: Clean
        run: cargo clean

  tests_min_compat:
    name: Run min rust version tests - Rust (${{ matrix.rust }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: 1.89.0, os: ubuntu-22.04 }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt
      - name: Extract metadata
        id: meta
        run: |
          FEATURES=$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[] | select(.name == "async-graphql") | .features | keys | map(select(. != "boxed-trait")) | join(",")')
          echo "features=$FEATURES" >> "$GITHUB_OUTPUT"
      - name: Build with all features
        run: cargo build --all-features
      - name: Build with all features except boxed-trait
        run: cargo build --features ${{ steps.meta.outputs.features }}
      - name: Build
        run: cargo build --workspace --verbose
      - name: Run tests
        run: cargo test --workspace --features ${{ steps.meta.outputs.features }}
      - name: Clean
        run: cargo clean

  rustfmt:
    name: Run rustfmt - Rust (${{ matrix.rust }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: nightly-2025-04-09, os: ubuntu-22.04 }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt
      - name: Check format
        run: cargo +${{ matrix.rust }} fmt --all -- --check
      - name: Check examples format
        working-directory: ./examples
        run: cargo +${{ matrix.rust }} fmt --all -- --check

  clippy:
    name: Run clippy - Rust (${{ matrix.rust }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: stable, os: ubuntu-22.04 }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy
      - name: Check with clippy
        run: cargo clippy --all

  clippy_wasm:
    name: Check default on Wasm (no features) - Rust (${{ matrix.rust }})
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: stable }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          targets: wasm32-unknown-unknown
      - name: Check code
        run: cargo check --no-default-features --target wasm32-unknown-unknown

  book_examples:
    name: Test book examples
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "0.5.2"
      - name: Extract metadata
        id: meta
        run: |
          FEATURES=$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[] | select(.name == "async-graphql") | .features | keys | map(select(. != "boxed-trait")) | join(",")')
          echo "features=$FEATURES" >> "$GITHUB_OUTPUT"
      - name: Build with all features
        run: cargo build --workspace --features ${{ steps.meta.outputs.features }}
      - name: Run book tests for en language
        run: mdbook test -L target/debug/deps ./docs/en
      - name: Run book tests for zh-CN language
        run: mdbook test -L target/debug/deps ./docs/zh-CN
      - name: Clean
        run: cargo clean

  examples:
    name: Build examples - Rust (${{ matrix.rust }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: stable, os: ubuntu-22.04 }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy, rustfmt
      - name: Check examples with clippy
        run: cargo clippy --all
        working-directory: ./examples
      - name: Build examples
        run: cargo build --workspace --verbose
        working-directory: ./examples
      - name: Clean examples
        run: cargo clean
        working-directory: ./examples

  autocorrect:
    name: AutoCorrect Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check source code
        uses: actions/checkout@v4

      - name: AutoCorrect
        uses: huacnlee/autocorrect-action@v2
        with:
          args: --lint --no-diff-bg-color docs/
